@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.nav{
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;    
}

.link-nav{
    margin: 0 10px;
    text-decoration: none;
    color: black;
    font-size: small;
}

.link-nav:hover{
    text-decoration: underline;
}

.img-nav{
    text-decoration: none; 
    display: flex;   
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0px;
    margin-inline: 10px;    
    height: 35px;
    width: 35px;    
    border-radius: 50px;
    border: none;
    background: none;
}

.img-nav svg{
    height: 24px;
}

.img-nav:active{
    background: rgb(212, 211, 211);
}

.img-nav:hover{
    background: rgb(236, 236, 236);    
    cursor: pointer;
}

.img-nav:focus{
    background: rgb(236, 236, 236); 
}

.button-nav{
    padding: 10px 20px;
    margin: 0 10px;
    background-color: rgb(42, 122, 212);
    color: white;
    border: none;
    border-radius: 5px;
}

.button-nav:hover{
    background: rgb(32, 109, 197);
    cursor: pointer;
}

.button-nav:active{
    background: rgb(23, 97, 180);;
}

.content-main{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
    margin-top: 100px;
}

.search{
    min-width: 350px;
    padding: 10px 20px;
    border: 1px solid;
    border-color: lightgrey;
    border-radius: 50px;
    margin: 30px 0;
}

.search:hover{
    box-shadow: 1px 1px 2px 2px rgb(204, 204, 204) ;
}

.input-search{
    display: flex;
    justify-content: space-between;
}

.img-input{
    height: 20px;
    width: 20px;
}

.input{
    border: none;
    box-shadow: none;
    flex-grow: 5;
}

.input:focus{    
    border: none;
    outline: none;
}

.input::after{
    border: none;
}

input:before{
    border: none;
}

.btn-search{
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(48, 47, 47);
    font-size: 14px;
}

.buttons-search{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.buttons-search a{
    padding: 10px 20px;
    margin: 0 10px;
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 5px;
}

.button:hover{
    border: 1px solid rgb(204, 204, 204) ;
}

.google{
  margin-top: 20px;
  font-size: small;
}

.google a {
  color: blue;
}

.footer{
    background-color: rgb(236, 236, 236);
    font-weight: 300;
}

.footer > div{
    padding: 15px;
    color: gray;
}

.footer1{
    border-bottom: lightgrey 1px solid;
}

.footer1 span{
    margin-left: 10px;
}

.footer2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-link{    
    text-decoration: none;
    margin-inline: 10px;
}

.content-footer2{
    margin-inline-start: 50px;
    margin-inline-end: 50px;
}



